*,
::after,
::before {
  box-sizing: border-box;
}
html {
  box-sizing: inherit;
}
body {
  font-family: 'Viga', sans-serif;
  line-height: 1;
}
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
body {
  padding: 0;
  margin: 0;
}
p {
  font-family: 'Lato', sans-serif;
}
